In [1]:
import pandas as pd
import pathlib
from tqdm import tqdm

In [ ]:
input_dir = "../../data/input/fb1_train"
txt_list = list(pathlib.Path(input_dir).glob('**/*.txt'))

In [ ]:
length = len(txt_list)
print(length)

In [ ]:
fb1_train_text_id = []
fb1_train_full_text = []
for i in tqdm(txt_list):
    with open(i, encoding="utf_8") as f:
        text_id = str(i).split("\\")[-1][:-4]
        fb1_train_text_id.append(text_id)
        fb1_train_full_text.append(f.read())

In [ ]:
len(fb1_train_text_id)

In [ ]:
len(fb1_train_full_text)

In [ ]:
fb1_train_df = pd.DataFrame(
        data={"text_id": fb1_train_text_id, "full_text": fb1_train_full_text}
    )

In [ ]:
fb1_train_df.to_csv(f"../../data/input/fb1_train.csv", index=False)

In [2]:
input_dir = "../../data/input/fb1_test"
txt_list = list(pathlib.Path(input_dir).glob('**/*.txt'))

In [4]:
length = len(txt_list)
print(length)

5

In [5]:
fb1_train_text_id = []
fb1_train_full_text = []
for i in tqdm(txt_list):
    with open(i, encoding="utf_8") as f:
        text_id = str(i).split("\\")[-1][:-4]
        fb1_train_text_id.append(text_id)
        fb1_train_full_text.append(f.read())

100%|██████████| 5/5 [00:00<00:00, 52.87it/s]

In [6]:
len(fb1_train_text_id)

5

In [7]:
len(fb1_train_full_text)

5

In [8]:
fb1_test_df = pd.DataFrame(
        data={"text_id": fb1_train_text_id, "full_text": fb1_train_full_text}
    )

In [9]:
fb1_test_df.to_csv(f"../../data/input/fb1_test.csv", index=False)

In [ ]:
input_dir = "../../data/input/fb2_train"
txt_list = list(pathlib.Path(input_dir).glob('**/*.txt'))

In [ ]:
length = len(txt_list)
print(length)

In [ ]:
fb2_train_text_id = []
fb2_train_full_text = []
for i in tqdm(txt_list):
    with open(i, encoding="utf_8") as f:
        text_id = str(i).split("\\")[-1][:-4]
        fb2_train_text_id.append(text_id)
        fb2_train_full_text.append(f.read())

In [ ]:
len(fb2_train_text_id)

In [ ]:
len(fb2_train_full_text)

In [ ]:
fb2_train_df = pd.DataFrame(
        data={"text_id": fb2_train_text_id, "full_text": fb2_train_full_text}
    )

In [ ]:
fb2_train_df.to_csv(f"../../data/input/fb2_train.csv", index=False)

In [10]:
input_dir = "../../data/input/fb2_test"
txt_list = list(pathlib.Path(input_dir).glob('**/*.txt'))

In [11]:
length = len(txt_list)
print(length)

1

In [12]:
fb2_train_text_id = []
fb2_train_full_text = []
for i in tqdm(txt_list):
    with open(i, encoding="utf_8") as f:
        text_id = str(i).split("\\")[-1][:-4]
        fb2_train_text_id.append(text_id)
        fb2_train_full_text.append(f.read())

100%|██████████| 1/1 [00:00<00:00, 91.14it/s]

In [13]:
len(fb2_train_text_id)

1

In [14]:
len(fb2_train_full_text)

1

In [15]:
fb2_test_df = pd.DataFrame(
        data={"text_id": fb2_train_text_id, "full_text": fb2_train_full_text}
    )

In [16]:
fb2_test_df.to_csv(f"../../data/input/fb2_test.csv", index=False)

In [24]:
fb1_train = pd.read_csv(f"../../data/input/fb1_train.csv")
fb1_test = pd.read_csv(f"../../data/input/fb1_test.csv")

In [25]:
fb1 = pd.concat([fb1_train, fb1_test]).reset_index(drop=True)

In [26]:
fb1["fb"] = 1

In [27]:
fb1

            text_id                                          full_text  fb
0      00C9687FDE95  The driverless cars are a bad idea. In theroy,...   1
1      00BD97EA4041  Should computers read the emotional expression...   1
2      00C6E82FE5BA  I think that it wouldn't be valueable to have ...   1
3      00A4CB36E006  Do you get advice from people? Many people do ...   1
4      0096700783B5  To just put it bluntly, the Electoral College ...   1
...             ...                                                ...  ..
15594  0FB0700DAF44  During a group project, have you ever asked a ...   1
15595  18409261F5C2  80% of Americans believe seeking multiple opin...   1
15596  D46BCB48440A  When people ask for advice,they sometimes talk...   1
15597  D72CB1C11673  Making choices in life can be very difficult. ...   1
15598  DF920E0A7337  Have you ever asked more than one person for h...   1

[15599 rows x 3 columns]

In [29]:
fb2_train = pd.read_csv(f"../../data/input/fb2_train.csv")
fb2_test = pd.read_csv(f"../../data/input/fb2_test.csv")

In [30]:
fb2 = pd.concat([fb2_train, fb2_test]).reset_index(drop=True)

In [31]:
fb2["fb"] = 2

In [32]:
fb2

           text_id                                          full_text  fb
0     00066EA9880D  Driverless cars are exaclty what you would exp...   2
1     000E6DE9E817  Dear: Principal\n\nI am arguing against the po...   2
2     0016926B079C  I think that students would benefit from learn...   2
3     00203C45FC55  It is every student's dream to be able to loun...   2
4     0029F4D19C3F  Dear principal,\n\nI heard you are considering...   2
...            ...                                                ...  ..
4187  FFC43F453EF6  Senador first I want to say that I dissagree w...   2
4188  FFD97A99CEBA  In this article i read about "Making Mona Lisa...   2
4189  FFF868E06176  Every summer break, students are given project...   2
4190  FFFF80B8CC2F  Venus is a planet what belong the System Solar...   2
4191  D72CB1C11673  Making choices in life can be very difficult. ...   2

[4192 rows x 3 columns]

In [35]:
fb3 = pd.read_csv(f"../../data/input/train.csv").drop(["cohesion", "syntax", "vocabulary", "phraseology", "grammar", "conventions"], axis=1)

In [36]:
fb3["fb"] = 3

In [37]:
fb3

           text_id                                          full_text  fb
0     0016926B079C  I think that students would benefit from learn...   3
1     0022683E9EA5  When a problem is a change you have to let it ...   3
2     00299B378633  Dear, Principal\n\nIf u change the school poli...   3
3     003885A45F42  The best time in life is when you become yours...   3
4     0049B1DF5CCC  Small act of kindness can impact in other peop...   3
...            ...                                                ...  ..
3906  FFD29828A873  I believe using cellphones in class for educat...   3
3907  FFD9A83B0849  Working alone, students do not have to argue w...   3
3908  FFDC4011AC9C  "A problem is a chance for you to do your best...   3
3909  FFE16D704B16  Many people disagree with Albert Schweitzer's ...   3
3910  FFED00D6E0BD  Do you think that failure is the main thing fo...   3

[3911 rows x 3 columns]

In [38]:
fb = pd.concat([fb3, fb1, fb2]).reset_index(drop=True)

In [55]:
fb

            text_id                                          full_text  fb
0      0016926B079C  I think that students would benefit from learn...   3
1      0022683E9EA5  When a problem is a change you have to let it ...   3
2      00299B378633  Dear, Principal\n\nIf u change the school poli...   3
3      003885A45F42  The best time in life is when you become yours...   3
4      0049B1DF5CCC  Small act of kindness can impact in other peop...   3
...             ...                                                ...  ..
23697  FFC43F453EF6  Senador first I want to say that I dissagree w...   2
23698  FFD97A99CEBA  In this article i read about "Making Mona Lisa...   2
23699  FFF868E06176  Every summer break, students are given project...   2
23700  FFFF80B8CC2F  Venus is a planet what belong the System Solar...   2
23701  D72CB1C11673  Making choices in life can be very difficult. ...   2

[23702 rows x 3 columns]

In [56]:
fb_nodup = fb[~fb["text_id"].duplicated()].reset_index(drop=True)

In [57]:
fb_nodup[fb_nodup["fb"]==2]

Empty DataFrame
Columns: [text_id, full_text, fb]
Index: []

In [58]:
past_fb_data = fb_nodup[fb_nodup["fb"]!=3].reset_index(drop=True).drop(["fb"], axis=1)

In [59]:
past_fb_data

            text_id                                          full_text
0      00C9687FDE95  The driverless cars are a bad idea. In theroy,...
1      00BD97EA4041  Should computers read the emotional expression...
2      00C6E82FE5BA  I think that it wouldn't be valueable to have ...
3      00A4CB36E006  Do you get advice from people? Many people do ...
4      0096700783B5  To just put it bluntly, the Electoral College ...
...             ...                                                ...
15142  0FB0700DAF44  During a group project, have you ever asked a ...
15143  18409261F5C2  80% of Americans believe seeking multiple opin...
15144  D46BCB48440A  When people ask for advice,they sometimes talk...
15145  D72CB1C11673  Making choices in life can be very difficult. ...
15146  DF920E0A7337  Have you ever asked more than one person for h...

[15147 rows x 2 columns]

In [61]:
past_fb_data.to_csv(f"../../data/input/past_fb_data.csv", index=False)